*body{
    margin: 0;
    padding: 0;
}

.topo{
    background-color: black;
    width: 100%;
    height: 58px;
}
.cinza{
    background-color: rgb(68, 67, 67);
    width: 100%;
    height: 80px;
}

.textwh{
    color: white;
    
}

.lateral{
    width: 300px;
    height: 413px;
    background-color: rgb(236, 236, 236);
}

.button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.botfinal{
    float: right;
}

.rodape{
    background-color: black;
    width: 100%;
    height: 58px;
}
