* body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#topo{
    width: 960px;
    height: 150px;
    margin: auto;

}

#logo{
    width: 200px;
    height: 150px;
    float: left;
}

#logo img{
    width: 180px;
    margin: 10px 10px 10px 10px;
}

#menu{
    width: 760px;
    height: 80px;
    float: right;
    text-align: center;
    word-spacing: 20px;
    color: black;
    margin-top: 50px;
}

#menu a{
    text-decoration: none;
    font-size: 25px;
}
#menu a:hover{
    color: brown;
}

#banner{
    width: 100%;
    height: 400px;
    margin: auto;
}
#banner img{
    width: 100%;
}


#propaganda{
    width: 960px;
    height: 150px;
    margin: auto;
}

#propaganda img{
    margin: 10px 60px 60px 60px;

}

#container{
    width: 960px;
    height: 600px;
    font-size: 15px;
    margin: auto;
}

#container img{
    width: 100%;
}

#esquerda{
    width: 460px;
    height: 600px;
    float: left;
}

#direita{
    width: 460px;
    height: 600px;
    float: right;
}

#rodape{
    width: 100%;
    height: 90px;
    margin: auto;
}

.estilizaçao{
    text-align: justify;
}

.titulo{
    text-align: left;
    font-size: 28px;
    color: darkgoldenrod;
}

.paragrafoRodape{
    text-align: center;
    color: blue;
    padding-top: 20px;
}

#content{
    width: 960px;
    height: 400px;
    margin: auto;
}

#content img{
    width: 40%;
    margin: auto;
    display: block;
      
}