* body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#topo{
    width: 960px;
    height: 150px;
    margin: auto;

}

#logo{
    width: 200px;
    height: 150px;
    float: left;
}

#logo img{
    width: 180px;
    margin: 10px 10px 10px 10px;
}

#menu{
    width: 760px;
    height: 80px;
    float: right;
    text-align: center;
    word-spacing: 20px;
    color: black;
    margin-top: 50px;
}

#menu a{
    text-decoration: none;
    font-size: 25px;
}
#menu a:hover{
    color: brown;
}

#banner{
    width: 960px;
    height: 400px;
    margin: auto;
    background-color: aqua;
}

#propaganda{
    width: 960px;
    height: 200px;
    background-color: deeppink;
    margin: auto;
    
}

#container{
    width: 960px;
    height: 600px;
    
    margin: auto;
}

#esquerda{
    width: 400px;
    height: 600px;
    float: left;
    background-color: cornflowerblue;

}

#direita{
    width: 400px;
    height: 600px;
    float: right;
    background-color: darkgreen;
}

#rodape{
    width: 960px;
    height: 90px;
    margin: auto;
    background-color: aquamarine;
}

